@use './config' as c;



/* HERO */
.container {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    background-color: c.$white;
    
  }

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem 1.5rem;

  &-text {
    max-width: 100%;
    margin-bottom: 2rem;

 
    p {
        margin-top: 1rem;
        font-size: 1.125rem;
        font-weight: lighter;
    }
  }

  &-image img {
    width: 90%;
    border-radius: c.$radius-md;
  }

  &-buttons {
    margin-top: 1rem;

    .btn-proyecto {
      margin-bottom: 0.5rem;
    }
  }

}

@media (min-width: c.$tablet) {
  .hero {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}